:root {
  --pj-blue: #265073;
  --pj-ciano: #2d9596;
  --pj-green: #9ad0c2;
  --pj-ligth: #f1f6f8;
  --pj-red: #a00202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--pj-ligth);
}

a {
  text-decoration: none;
  color: #000000;
}

/* Página inicial */
.home {
  display: flex;
  height: 100vh;
  background-image: url(./icons/img/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.homeCadastro {
  background-image: url(./icons/img/backVendas.jpg) !important;
}

.homePag {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--pj-blue);
}

/*Conteúdo da página home*/

.welcome {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Cor de fundo para destaque */
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.sales, .other-content {
  width: 48%; /* Ajuste para evitar overflow */
  background-color: #e0e0e0; 
  padding: 20px;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon {
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 14px;
  /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.icon > i {
  color: var(--pj-blue);
  font-size: 1.5rem;
  transition: all 0.2s;
}

.icon:hover > i {
  scale: 1.2;
  color: var(--pj-ligth);
}

.icon:before {
  background: var(--color);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
}

.icon:hover:before {
  animation: slide 0.7s forwards;
}

@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }

  100% {
    left: -15%;
    top: -15%;
  }
}

.icon:has(.fa-instagram) {
  --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.icon:has(.fa-facebook) {
  --color: #0077b5;
}
.icon:has(.fa-youtube) {
  --color: #ff0000;
}
.icon:has(.fa-x-twitter) {
  --color: #1da1f2;
}

/* Sombra */
.shadow {
  border-radius: 8px;
  box-shadow: 10px 10px 20px #444444b6, -10px -10px 20px #ffffff83;
}

/* Style card inputs e labels */
.box {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  border: 2px solid #625d5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: transparent;
  color: var(--pj-ligth) !important;
}

h2 {
  font-size: 2em;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

.inputbox i {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  top: 20px;
}

/* Style buttons */
.but {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--pj-blue);
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.but:hover {
  background-color: #163147;
}

/* Style table */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  margin: 0 auto;
}

table a:hover {
  color: var(--pj-ciano);
}

thead {
  background-color: var(--pj-blue);
  padding: 10px;
  color: var(--pj-ligth);
}

table td,
th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table tr:hover td {
  background-color: #cecbcb67;
}

.crud button {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}

.lixeira:hover {
  color: var(--pj-red);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #265073;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sidebar nav {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: var(--pj-ligth);
}

.butsidebar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.5rem;
}

.butsidebar:hover {
  background-color: var(--pj-ligth) !important;
  color: var(--pj-blue);
  border-radius: 8px;
}

.butsidebar i {
  margin-right: 10px;
}

.butsidebar p {
  margin: 0;
}

/* Padrões */
.bg-ligth {
  background-color: var(--pj-ligth) !important;
}

.text-ligth {
  color: var(--pj-ligth);
}

.text-blue {
  color: var(--pj-blue) !important;
}

.text-red {
  color: var(--pj-red) !important;
}

.text-opaco {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.ml {
  margin-left: 1rem;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.mr {
  margin-right: 1rem;
}

/* Media query para telas menores que 1200px */
@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    color: var(--pj-ligth) !important;
  }

  .menu-toggle.closed {
    color: var(--pj-blue) !important;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    transition: margin-left 0.3s ease;
  }

  .crud {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .box {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  table {
    width: 100%;
  }

  .inputbox {
    width: 100%;
  }
}

/* Media query para telas maiores que 1200px */
@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .crud {
    padding-left: 25%;
    padding-top: 2rem;
  }
  /*Conteúdo da página home para telas maiores*/
  
.homePag {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--pj-blue);
}
.welcome {
  width: 90%;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Cor de fundo para destaque */
}

.content {
  display: flex;
  width: 85%;
  justify-content: space-between;
  padding: 20px;
}

.sales, .other-content {
  width: 48%; /* Ajuste para evitar overflow */
  background-color: #e0e0e0; 
  padding: 20px;
  box-sizing: border-box;
}
}
