:root {
  --pj-blue: #265073;
  --pj-ciano: #2D9596;
  --pj-green: #9AD0C2;
  --pj-ligth: #f1f6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/*página inicial*/

.home {
  display: flex;
  height: 100vh;
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-image: url(./icons/img/imgBack.jpg);
  background-position: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*style forms*/

.forms {
  background-color: var(--pj-ligth);
  padding: 2rem;
  border-radius: 8px;
  color: var(--pj-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; 
}

/*style inputs*/

.cardinput {
  margin-top: 1rem;
  text-align: left;
}

.cardinput label {
  display: block;
  margin-bottom: 0.5rem;
}

.cardinput input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.25rem; /* Para dar um pequeno espaço entre o input e o label */
}

.cardinput input:hover{
  border: 1px solid var(--pj-blue);
}

/*Style buttons*/

.but {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--pj-blue);
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.but:hover {
  background-color: #163147;
}

/*padrões*/

.bg-ligth{
  background-color: var(--pj-ligth);
}

.text-ligth{
  color: var(--pj-ligth);
}

.text-blue{
  color: var(--pj-blue) !important;
}

.text-opaco{
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.ml {
  margin-left: 1rem;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.mr {
  margin-right: 1rem;
}