:root {
  --pj-blue: #265073;
  --pj-ciano: #2d9596;
  --pj-green: #9ad0c2;
  --pj-ligth: #f1f6f8;
  --pj-red: #a00202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

/*página inicial*/

.home {
  display: flex;
  height: 100vh;
}

.left,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-image: url(./icons/img/imgBack.jpg);
  background-position: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*página main*/

.crud {
  margin: 1rem;
}

/*style forms*/

.forms {
  background-color: var(--pj-ligth);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto; 
  margin-right: auto; 
}

/*style inputs*/

.cardinput {
  margin-top: 1rem;
  text-align: left;
}

.cardinput label {
  display: block;
  margin-bottom: 0.5rem;
}

.cardinput input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--pj-ligth);
  margin-top: 0.25rem; /* Para dar um pequeno espaço entre o input e o label */
}

.cardinput input:hover {
  border: 1px solid var(--pj-blue);
}

/*Style buttons*/

.but {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--pj-blue);
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.but:hover {
  background-color: #163147;
}

/*Style table*/

table {
  width: 75%;
  border-collapse: collapse;
  border-radius: 1rem;
}

table a:hover {
  color: var(--pj-ciano);
}

thead {
  background-color: var(--pj-blue);
  padding: 10px;
  color: var(--pj-ligth);
}

table td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

table tr:hover td {
  background-color: #cecbcb67;
}

.crud button {
  width: 20%;
}

.lixeira:hover{
  color: var(--pj-red);
}

/*Sidebar*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #265073;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sidebar nav {
  margin-bottom: 20px; 
}

.sidebar a {
  text-decoration: none; 
  color: var(--pj-ligth);
}

.butsidebar {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
  padding: 0.5rem;
}

.butsidebar:hover{
  background-color: var(--pj-ligth)!important;
  color: var(--pj-blue);
  border-radius: 8px;
}

.butsidebar i {
  margin-right: 10px; 
}

.butsidebar p {
  margin: 0;
}

/*padrões*/

.bg-ligth {
  background-color: var(--pj-ligth);
}

.text-ligth {
  color: var(--pj-ligth);
}

.text-blue {
  color: var(--pj-blue) !important;
}

.text-red {
  color: var(--pj-red) !important;
}

.text-opaco {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.ml {
  margin-left: 1rem;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.mr {
  margin-right: 1rem;
}

/* Media para telas menores que 768px */
@media (max-width: 768px) {
  .sidebar {
    position: fixed; 
    width: 200px; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    color: var(--pj-ligth)!important;
  }

  .menu-toggle.closed {
    color: var(--pj-blue)!important; /* Cor azul quando o sidebar está fechado */
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
}

/* Media query para telas maiores que 768px */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .forms {
    margin-left: 1rem!important; 
   margin-right: 1rem!important;
    max-width: calc(100% - 2rem)!important;
  }
}
